.ma-classe {
    color: #663399;
    /* change ma classe */
}

.grand-texte {
    font-size: 30px;
}

#logo {
    /* Indiquez les propriétés CSS ici */
    /* color: #147899;
    font-size: 1em; 1= taille normale >1 = plus grand et <1 = plus petit
    font-family: nom-police;
    font-weight: 100 to 900;
    text-decoration: underline ou line-trough ou none // sous ligne
    text-align: left ou center ou right
    background-color: black; le fond sera noir a mettre dans body
    background-image: url('ooo.jpg');
    background-attachment: argument; 
    background-image  ;
    background-repeat  ;
    background-size ;
    background-position
    opacity: 0 to 1;
    border-top  : bordure du haut.
    border-bottom  : bordure du bas.
    border-left  : bordure de gauche.
    border-right
    border radius
    avec border on met la couleur la taille et la forme de cette bordure
    et modifier l'angle des coins
    padding: 100px; espace de 100 pixel
    box-shadow: décalage "horizontal' 'vertical' 'couleur '
    width: 350 px taille en largeur
    height: 350 taille en hauteur
    */
    }

    a:hover {

        background-color: #C1FFD7;

    }

a:active{
    background-color: #C1FFD7;

}
a:visited {
    color: black;
}
* {
    /* Insérez ici votre style */
    }
    h3 + p {
        /* Insérez ici votre style */
        }
        h3 em {
            /* Insérez ici votre style */
            }
            a[title] {
                /* Insérez ici votre style */
                }